include README.md
include CHANGELOG.md
recursive-include octoprint_octorelay/templates *
recursive-include octoprint_octorelay/translations *
recursive-include octoprint_octorelay/static *
prune tests