#settings_plugin_octorelay .tab-content {
    position: relative
}

#settings_plugin_octorelay .btn > input[type='radio'] {
    display: none
}

#settings_plugin_octorelay input.code {
    font-family: monospace;
}

#settings_plugin_octorelay .input-prepend > .add-on.tiny {
    font-size: 0.45rem;
    font-weight: 600;
}

#settings_plugin_octorelay .help-inline a.same-color {
    color: inherit;
}

#settings_plugin_octorelay .control-label span.label,
#settings_plugin_octorelay .help-inline span.label {
    zoom: 0.85; /* not scale */
}

#settings_plugin_octorelay .fa-info {
    border: 2px solid currentColor;
    padding: 3px 8px;
    border-radius: 50%;
    scale: 0.6;
    transform-origin: left;
}

#settings_plugin_octorelay .preview {
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    line-height: unset;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    scale: 3;
    transform-origin: top left;
    border: 0.3px dashed #00000066;
    box-sizing: content-box;
    border-radius: 2px;
}

#settings_plugin_octorelay .preview-caption {
    position: absolute;
    top: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 0.5ch;
    white-space: nowrap;
    scale: 0.75;
    transform-origin: top;
}

#navbar_plugin_octorelay > a {
    display: flex;
    float: left;
    width: 40px;
    height: 40px;
    padding: unset;
    cursor: pointer;
    font-size: 1.25rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

#navbar_plugin_octorelay .popover {
    width: auto;
}

#navbar_plugin_octorelay .popover .popover-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

#navbar_plugin_octorelay .popover .popover-content {
    display: flex;
    flex-direction: column;
}

#navbar_plugin_octorelay .popover .popover-content > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

#navbar_plugin_octorelay .popover-content .btn {
    outline: none;
    margin-top: unset;
}
