<form class="form-horizontal">
	<h3>OctoRelay settings</h3>
    {% for n in range(1,9) %}
	<div class="control-group">
        <label class="control-label">{{ _('Relay') }} {{n}}</label>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.octorelay.r{{n}}.active">
                {{ _('Active') }}
                <span
                    class="help-inline"
                    data-bind="hidden: settings.plugins.octorelay.r{{n}}.active, text: settings.plugins.octorelay.r{{n}}.labelText"
                    style="line-height: initial; vertical-align: unset;"
                ></span>
            </label>
        </div>
        <div data-bind="visible: settings.plugins.octorelay.r{{n}}.active">
            <label class="control-label">{{ _('Label') }}</label>
            <div class="controls">
                <label class="text">
                    <input type="text" class="input-small" data-bind="value: settings.plugins.octorelay.r{{n}}.labelText">
                </label>
            </div>
            <label class="control-label">{{ _('GPIO Number') }}</label>
            <div class="controls">
                <input id="relay_pin-input{{n}}" type="number" min="1" max="27" class="input-small" data-bind="value: settings.plugins.octorelay.r{{n}}.relay_pin">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.octorelay.r{{n}}.inverted_output">
                    {{ _('Inverted output') }}
                </label>
            </div>
            <label class="control-label">{{ _('OS Command ON') }}</label>
            <div class="controls">
                <label class="text">
                    <input type="text" class="input-large" data-bind="value: settings.plugins.octorelay.r{{n}}.cmdON">
                </label>
            </div>
            <label class="control-label">{{ _('OS Command OFF') }}</label>
            <div class="controls">
                <label class="text">
                    <input type="text" class="input-large" data-bind="value: settings.plugins.octorelay.r{{n}}.cmdOFF">
                </label>
            </div>
            <label class="control-label">{{ _('Icon ON') }}</label>
            <div class="controls">
                <label class="text">
                    <input type="text" class="input-large" data-bind="value: settings.plugins.octorelay.r{{n}}.iconOn">
                    <div
                        style="display: inline-block; width: 24px; height: 24px; margin-left: 8px; overflow: hidden; line-height: unset; vertical-align: middle; font-size: 1.3em;"
                        data-bind="html: settings.plugins.octorelay.r{{n}}.iconOn"
                    ></div>
                </label>
            </div>
            <label class="control-label">{{ _('Icon OFF') }}</label>
            <div class="controls">
                <label class="text">
                    <input type="text" class="input-large" data-bind="value: settings.plugins.octorelay.r{{n}}.iconOff">
                    <div
                        style="display: inline-block; width: 24px; height: 24px; margin-left: 8px; overflow: hidden; line-height: unset; vertical-align: middle; font-size: 1.3em;"
                        data-bind="html: settings.plugins.octorelay.r{{n}}.iconOff"
                    ></div>
                </label>
            </div>
            <label class="control-label">{{ _('Confirmation') }}</label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.octorelay.r{{n}}.confirmOff">
                    {{ _('Warning on turning OFF') }}
                </label>
            </div>
            <label class="control-label">{{ _('Auto ON/OFF') }}</label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.octorelay.r{{n}}.initial_value">
                    {{ _('ON initially on boot') }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.octorelay.r{{n}}.autoONforPrint">
                    {{ _('ON before printing') }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.octorelay.r{{n}}.autoOFFforPrint">
                    {{ _('OFF after printing') }}
                </label>
            </div>
            <label class="control-label" data-bind="visible: settings.plugins.octorelay.r{{n}}.autoOFFforPrint">
                {{ _('Delay') }}
            </label>
            <div class="controls" data-bind="visible: settings.plugins.octorelay.r{{n}}.autoOFFforPrint">
                <label class="text">
                    <div class="input-append">
                        <input type="number" min="0" max="86400" class="input-small" data-bind="value: settings.plugins.octorelay.r{{n}}.autoOffDelay">
                        <span class="add-on">seconds</span>
                    </div>
                    <span class="help-block">{{ _('The delay to turn the relay OFF. For example for a fan, that should run a little longer after the print.') }}</span>
                </label>
            </div>
        </div>
	</div>
    {% endfor %}
</form>
