{% for n in range(1,9) %}
    <div id="relaisr{{n}}" style="cursor: pointer; user-select: none; ">
        <a onclick='OctoPrint.simpleApiCommand("octorelay", "update", {"pin":"r{{n}}"})' style="cursor: pointer; user-select: none; ">
            <div id="isONiconr{{n}}" style="font-size: 1.3em; " >R{{n}}</div>
            <div id="isONlabelr{{n}}" style="font-size: 0.8em; " >relay {{n}}</div>
        </a>
    </div>
{% endfor %}
