{% for n in range(1,9) %}
    <a id="relaisr{{n}}" role="button" style="display: none">
        R{{n}}
    </a>
{% endfor %}

<div id="octorelay-confirmation-dialog" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 class="modal-title">Turning the relay off</h3>
    </div>
    <div class="modal-body">
        <h4 id="octorelay-confirmation-text">Are you sure?</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger btn-confirm">Confirm</button>
    </div>
</div>
