{% for n in range(1,9) %}
    <div id="relaisr{{n}}" style="float: left; padding: 8px; font-size: 1.3em; ">
        <a id="ralayIconr{{n}}" onclick='OctoPrint.simpleApiCommand("octorelay", "update", {"pin":"r{{n}}"})' title="relay {{n}}" style="text-decoration:none;">
            R{{n}}
        </a>
    </div>
{% endfor %}
