<form class="form-horizontal">
	<h3>OctoRelay settings</h3>
    {% for n in range(1,9) %}
	<div class="control-group">
        <label class="control-label">Relay {{n}} active</label>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.octorelay.r{{n}}.active" >
            </label>
        </div>
        <div data-bind="visible: settings.plugins.octorelay.r{{n}}.active" >
            <label class="control-label">{{ _('GPIO Number') }}</label>
            <div class="controls">
                <input id="relay_pin-input{{n}}" type="number" min="1" max="27" class="input-small" data-bind="value: settings.plugins.octorelay.r{{n}}.relay_pin">

                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.octorelay.r{{n}}.initial_value">
                    {{ _('ON on boot') }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.octorelay.r{{n}}.inverted_output">
                    {{ _('Inverted output') }}
                </label>
            </div>
            <label class="control-label">{{ _('OS Command ON') }}</label>
            <div class="controls">
                <label class="text">
                    <input type="text" class="input-large" data-bind="value: settings.plugins.octorelay.r{{n}}.cmdON">
                </label>
            </div>
            <label class="control-label">{{ _('OS Command OFF') }}</label>
            <div class="controls">
                <label class="text">
                    <input type="text" class="input-large" data-bind="value: settings.plugins.octorelay.r{{n}}.cmdOFF">
                </label>
            </div>
            <label class="control-label">{{ _('Icon On') }}</label>
            <div class="controls">
                <label class="text">
                    <input type="text" class="input-large" data-bind="value: settings.plugins.octorelay.r{{n}}.iconOn">
                </label>
            </div>
            <label class="control-label">{{ _('Icon Off') }}</label>
            <div class="controls">
                <label class="text">
                    <input type="text" class="input-large" data-bind="value: settings.plugins.octorelay.r{{n}}.iconOff">
                </label>
            </div>
            <label class="control-label">{{ _('Label') }}</label>
            <div class="controls">
                <label class="text">
                    <input type="text" class="input-small" data-bind="value: settings.plugins.octorelay.r{{n}}.labelText">
                </label>
            </div>
            <label class="control-label">{{ _('Confirm') }}</label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.octorelay.r{{n}}.confirmOff">
                    {{ _('Warning on turning OFF') }}
                </label>
            </div>
            <label class="control-label">{{ _('Auto ON/OFF') }}</label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.octorelay.r{{n}}.autoONforPrint">
                    {{ _('Auto ON before printing') }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.octorelay.r{{n}}.autoOFFforPrint">
                    {{ _('Auto OFF after print finishes') }}
                </label>
                <label class="text">
                    <input type="number" min="0" max="86400" class="input-small" data-bind="value: settings.plugins.octorelay.r{{n}}.autoOffDelay">
                    {{ _('OFF delay after print finished') }}
                    <span class="help-block">{{ _('The delay to turn OFF a relay automatically in seconds (Auto OFF has to be selected). For example for a fan, that should run a little longer after the print.') }}</span>

                </label>
            </div>
        </div>
	</div>
    {% endfor %}
</form>
